# @BotFather dan olingan token
BOT_TOKEN=8857424038:AAFaF1uPdBgCtSX_dQXrxb19IARU_wIoH7E

# Sizning Telegram ID (@userinfobot orqali biling)
ADMIN_ID=973358587

# Kuzatiladigan guruh ID (quyida ko'rsatilgan usul bilan biling)
GROUP_ID=-1001922795110
